/* Google fonts :) :) :) */
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

* {
    font-family: 'Saira', sans-serif;
    background-color: rgb(98, 98, 98);
    color: rgb(255, 255, 255);
}

h1 {
    color: rgb(179, 227, 236);
}